body{
    background-color: rgb(162, 238, 228);

}
#container{
    background-color: rgb(20, 150, 132);
    border: 5px solid white;
    height:275px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
#btn{
    margin:50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(5, 82, 75);
    color: white;

}
#output{
    margin: 25px auto;
    font-size: 26px;
    color: white;
}
h1{
    text-align: center;
    padding-top: 10%;
    font-family: sans-serif;
    font-size: 50px;
    font-style: italic;
    color: rgb(8, 48, 48);
}